/* -----------------------
Base styles
------------------------*/

body
{
	margin: 0;
	padding: 0;
	color: #222;
	font-family: "Open Sans","Droid Sans Mono",Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;   
	background-color: #fff;
	font-size: 12px;
	line-height: 1.55em;
}

.source {
	font-size: 12px;
    color: #aaa;
}

.collapsible {
	background-color: #fff;
	cursor: pointer;
	padding: 10px;
	width: 100%;
	border: none;
	padding-left: 20px;
	color: #111;
	text-align: left;
	outline: none;
	font-size: 14px;
	font-family: "Open Sans","Droid Sans Mono",Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;   
}

.active,
.collapsible:hover {
	background-color: #292930;
	color: #FCC133;
}

.content {
	font-family: "Open Sans","Droid Sans Mono",Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;   
	font-size: 13px;
	padding: 0 18px;
	max-height: 0;
	overflow: hidden;
	color: #ddd;
	padding-left: 20px;
	transition: max-height 0.2s ease-out;
	background-color: #292930;
	border-bottom: 1px solid #ddd;
}

.content a {
	color: #E12B38;
}

.day {
	background-color: #021b2a;
	font-weight: 600;
	font-family: "Open Sans","Droid Sans Mono",Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;   
	font-size: 13px;
	padding: 10px;
    padding-left: 20px;
    color: #3EB650;
}

.time {
	font-size: 13px;
	color: #3EB650;
}	
.header {
	padding: 20px;
    color: white;
    font-family: "Open Sans";
    font-size: 22px;
    background-color: #163043;
}

}