/* -----------------------
Base styles
------------------------*/

body
{
	margin: 0;
	padding: 0;
	color: #222;
	font-family: "Open Sans","Droid Sans Mono",Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;   
	background-color: #111;
	font-size: 12px;
	line-height: 1.55em;
}

.source {
	font-size: 12px;
    color: #aaa;
}

.collapsible {
	background-color: #021e2f;
	cursor: pointer;
	padding: 10px;
	width: 100%;
	border: none;
	padding-left: 20px;
	color: #BDDDDA;
	text-align: left;
	outline: none;
	font-size: 14px;
	font-family: "Open Sans","Droid Sans Mono",Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;   
}

.active,
.collapsible:hover {
	background-color: #0A2536;
	color: orange;
}

.content {
	font-family: "Open Sans","Droid Sans Mono",Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;   
	font-size: 13px;
	padding: 0 18px;
	max-height: 0;
	overflow: hidden;
	color: #BDDDDA;
	padding-left: 20px;
	transition: max-height 0.2s ease-out;
	background-color: #0A2536;
	border-bottom: 1px solid #111;
}

.content a {
	color: orange;
}

.day {
	background-color: #021b2a;
	font-weight: 600;
	font-family: "Open Sans","Droid Sans Mono",Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;   
	font-size: 13px;
	padding: 10px;
    padding-left: 20px;
    color: #999;
}

.time {
	font-size: 13px;
    color: #777;
}